@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html {
  height: 100%;
}

body {
  background: #add8e6;
  color: #E56399;
  font-family: 'Satisfy', cursive;
  text-align: center;
}

button {
  color: #E56399;
  font-family : 'Satisfy', cursive;
  font-size: 1em;
}

.title {
  color: #E56399;
  font-size: 3em;
  margin: 30px 0 20px 0;
  text-shadow: 0 0 12px #FFF;
}

.colors {
  display: flex;
  justify-content: center;
}
.color-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rectangle {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 5px #FFF, 0 0 5px #FFF inset;
  color: #E56399;
  cursor: pointer;
  margin: 20px;
  outline: 0 !important;
  padding: 10px;
  text-shadow: 0 0 10px #FFF;
  transition: all .3s ease-in;
  width: 80px;
}
.circle {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px #FFF, 0 0 10px #FFF inset;
  color: #E56399;
  cursor: pointer;
  font-size: 20px;
  margin: 25px 10px;
  outline: 0 !important;
  padding: 25px 0px;
  text-shadow: 0 0 10px #FFF;
  transition: all .3s ease-in;
  width: 80px;
}

.active {
  box-shadow: 0 0 30px #E56399, 0 0 2px #E56399 inset;
}

.grids {
  margin-top: 20px;
}
.grid-container {
  display: inline-grid;
  grid-gap: 1px;
  border: 5px solid #E56399;
  border-radius: 2px;
  box-shadow: 0 0 30px #E56399;
}
.grid-container > div {
  background-color: #FFF;
}
.grid-10x10 {
  grid-template-columns: repeat(10, auto);
}
.grid-10x10 > div {
  height: 50px;
  width: 50px;
}
.grid-20x20 {
  grid-template-columns: repeat(20, auto);
}
.grid-20x20 > div {
  height: 25px;
  width: 25px;
}
.grid-30x30 {
  grid-template-columns: repeat(30, auto);
}
.grid-30x30 > div {
  height: 15px;
  width: 15px;
}

.creator{
  font-size: 1em;
  text-shadow: 0 0 7px #FFF;
}

